/* POPUP */
/* ----------------------------------- */

/* wrapper of the popup */
.popup .mapboxgl-popup-content{
    background: rgba(50, 50, 50, 0.9);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* POPUP ANCHOR */

/* anchor top */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    align-self: center;
    border-top: none;
    border-bottom-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor top-left */
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    align-self: flex-start;
    border-top: none;
    border-left: none;
    border-bottom-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor top-right */
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    align-self: flex-end;
    border-top: none;
    border-right: none;
    border-bottom-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor bottom */
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor bottom-left */
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    align-self: flex-start;
    border-bottom: none;
    border-left: none;
    border-top-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor bottom-right */
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    align-self: flex-end;
    border-bottom: none;
    border-right: none;
    border-top-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor left */
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    align-self: center;
    border-left: none;
    border-right-color: rgba(50, 50, 50, 0.9) !important;
}

/* anchor right */
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    align-self: center;
    border-right: none;
    border-left-color: rgba(50, 50, 50, 0.9) !important;
}

/* CONTROL BUTTONS */
/* ----------------------------------- */

/* control buttons wrapper */
.mapboxgl-ctrl-group {
    border: none !important;
    opacity: 0.7 !important;
    background: rgba(50, 50, 50, 1) !important;
    display: flex !important;
    flex-direction: column !important;
}

/* control buttons */
.mapboxgl-ctrl-group button {
    width: 35px !important;
    height: 40px !important;
}

/* lower control button */
.mapboxgl-ctrl-group button + button {
    border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
}

/* zoom-out icon */
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    background-image: url("/assets/map-icon-minus.svg") !important;
}

/* zoom-in icon */
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image: url("/assets/map-icon-plus.svg") !important;
}

/* LOGO LINK */
/* ----------------------------------- */

a.mapboxgl-ctrl-logo {
    background-image: url("/assets/mapbox-logo-white.svg") !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 21px !important;
    height: 20.5px !important;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

/* ATTRIBUTION */
/* ----------------------------------- */

/* full attribution wrapper */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    padding: 0 5px;
    background-color: rgb(50, 50, 50, 0.7) !important;
    margin: 0;
    color: white !important;
    font-weight: 600 !important;
}

/* links inside attribution */
.mapboxgl-ctrl-attrib a {
    color: white !important;
    text-decoration: none;
    font-weight: 400 !important;
}

/* retracted attribution button */
.mapboxgl-ctrl-attrib-button {
    background-color: rgb(50, 50, 50) !important;
    background-image: url("/assets/map-icon-info.svg") !important;
}
